In [135]:
import os
import glob
import yaml
import pandas as pd

cwd = os.getcwd()

In [136]:
with open("config.yaml", 'r', encoding='utf-8') as stream:
    config = yaml.safe_load(stream)
config

{'curve': {'import': None,
  'columns_old': ['Date (YYYY-MM-DD as UTC)',
   'Merchant',
   'Txn Amount (Funding Card)',
   'Card Name',
   'Category'],
  'columns_new': ['Day', 'Expense name', 'Amount', 'Bank', 'Comment'],
  'Day': '%Y-%m-%d'},
 'ing': {'import': {'sep': ';'},
  'columns_old': ['Date', 'Bénéficiaire', 'Montant', 'Bank', 'Communication'],
  'columns_new': ['Day', 'Expense name', 'Amount', 'Bank', 'Comment'],
  'Day': '%d/%m/%Y'},
 'n26': {'import': None,
  'columns_old': ['Data',
   'Beneficiario',
   'Importo (EURO)',
   'Bank',
   'Riferimento pagamento'],
  'columns_new': ['Day', 'Expense name', 'Amount', 'Bank', 'Comment'],
  'Remove': ['CRV*'],
  'Day': '%Y-%m-%d'},
 'revolut': {'import': None,
  'columns_old': ['Started Date', 'Description', 'Amount', 'Bank', 'Type'],
  'columns_new': ['Day', 'Expense name', 'Amount', 'Bank', 'Comment'],
  'Remove': ['Crv*'],
  'Day': '%Y-%m-%d %H:%M:%S'}}

In [137]:
folders_data = os.listdir('data')
folders_data

['curve', 'ing', 'n26', 'revolut']

In [138]:
file_data = {folder: max(glob.glob(os.path.join(cwd, 'data', folder, '*')), key=os.path.getctime) for folder in folders_data}
file_data

{'curve': 'c:\\Users\\giamp\\Dropbox\\GitHub\\import-bank-details\\data\\curve\\export.csv',
 'ing': 'c:\\Users\\giamp\\Dropbox\\GitHub\\import-bank-details\\data\\ing\\export_LU980141271390000000_20220301_20220618.xlsx',
 'n26': 'c:\\Users\\giamp\\Dropbox\\GitHub\\import-bank-details\\data\\n26\\n26-csv-transactions (2).csv',
 'revolut': 'c:\\Users\\giamp\\Dropbox\\GitHub\\import-bank-details\\data\\revolut\\account-statement_2022-03-01_2022-06-18_it_b51eb4.csv'}

In [145]:
df = None

for file_key, file_value in file_data.items():
    try:
        df_temp = pd.read_csv(file_value, **config[file_key]['import'])
    except TypeError:
        df_temp = pd.read_csv(file_value)
    except UnicodeDecodeError:
        df_temp = pd.read_excel(file_value)
    
    if 'Bank' in config[file_key]['columns_old']:
        df_temp['Bank'] = file_key
    df_temp = df_temp[config[file_key]['columns_old']]
    df_temp = df_temp.rename(columns=dict(zip(config[file_key]['columns_old'], config[file_key]['columns_new'])))
    
    try:
        df_temp = df_temp[~df_temp['Expense name'].str.contains('|'.join(config[file_key]['Remove']))]
    except KeyError:
        pass

    df_temp['Day'] = pd.to_datetime(df_temp['Day'], format=config[file_key]['Day'])

    
    df = pd.concat([df, df_temp], ignore_index=True)
df['Day'] = df['Day'].dt.round('D')

df = df.sort_values(by=['Day', 'Expense name', 'Amount'])

df['Amount'] = -df['Amount']

filename = f"{df['Day'].max().strftime('%Y-%m-%d')}_{'-'.join(config.keys())}.xlsx"
df.to_excel(os.path.join('output', filename), index=False)

df

,Day,Expense name,Amount,Bank,Comment
589,2020-08-21,Ref: Giampaolo C.,-500.00,Curve Cash,NaN
588,2020-09-05,Auchan Cloche D'or,22.55,Revolut Savings,Groceries
587,2020-09-05,Curve Cash: Auchan Cloche D'or,-23.00,Curve Cash,NaN
586,2020-09-06,Goedert Autocenter,14.30,N26 Giamp,Shopping
585,2020-09-20,Amzn Mktp De*fp47m5pw5,20.86,Revolut Savings,Shopping
...,...,...,...,...,...
2,2022-06-16,Amzn Mktp UK,15.55,Revolut Groceries + Out,Shopping
1,2022-06-17,Lidl,50.15,Revolut Groceries + Out,Groceries
724,2022-06-17,Pharmacie De La Liberte,1.00,revolut,CARD_PAYMENT
0,2022-06-17,Rest Sushi Shop Kirchb,33.00,Revolut Groceries + Out,Eating Out
634,2022-06-18,CASOLLA GIAMPAO,424.86,ing,Naples flight Christmas 2022

In [101]:
df['Day'] = df['Day'].dt.round('D')

In [144]:
name = 'ing'
file_key, file_value = name, file_data[name]
try:
    df_temp = pd.read_csv(file_value, **config[file_key]['import'])
except TypeError:
    df_temp = pd.read_csv(file_value)
except UnicodeDecodeError:
    df_temp = pd.read_excel(file_value)
df_temp

,#,Référence,Opération,Date,Date valeur,Date comptable,Montant,Devise,Bénéficiaire,Compte bénéficiaire,Communication,Carte,Numéro,Alias,Contrevaleur,Devise.1,Ville,Pays
0,1,OP06026244,180Savings + Gifts + Clothes,2022-03-01,2022-03-01,2022-03-01,-230.00,EUR,Giampaolo Casolla,LT753250003855709822,180Savings + Gifts + Clothes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,OP06016277,Rent Apartment 57 Rue de Neudorf,2022-03-01,2022-03-01,2022-03-01,-1550.00,EUR,M. DESPONTIN Philippe,LU710099780000451419,Rent Apartment 57 Rue de Neudorf,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,OP06024434,Investing + Guilt-free Spending,2022-03-01,2022-03-01,2022-03-01,-1783.00,EUR,Giampaolo Casolla,DE31100110012622391346,Investing + Guilt-free Spending,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,PC330JZ8XK,Virement Européen DESPONTIN PHILIPPE ANDRE rem...,2022-03-03,2022-03-03,2022-03-03,546.04,EUR,DESPONTIN PHILIPPE ANDRE,LU710099780000451419,remboursement surplus de charges,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PC340K24D2,Virement Européen AMAZON EU S.A R.L. FCS001066...,2022-03-04,2022-03-04,2022-03-04,95.00,EUR,AMAZON EU S.A R.L.,IE04BOFA99006156667038,FCS001066137002 PAYMENT-NUM 1 97504845,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,PC330JZ0T7,Domiciliation Européenne BASIC FIT LUXEMBOURG ...,2022-03-04,2022-03-04,2022-03-04,-39.99,EUR,BASIC FIT LUXEMBOURG,NL47ABNA0539927031,06-03-2022 / 02-04-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,9780623357,Giampaolo Casolla,2022-03-04,2022-03-04,2022-03-04,-95.00,EUR,Giampaolo Casolla,DE31100110012622391346,Partigiano reimbursement,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,7750670024,RETRAIT SELF'BANK DU 09.03.22 CARTE NO 359968,2022-03-09,2022-03-09,2022-03-09,-160.00,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,PC3L0KQ44K,Domiciliation Européenne PROXIMUS LUXEMBOURG S...,2022-03-21,2022-03-21,2022-03-21,-57.99,EUR,PROXIMUS LUXEMBOURG S.A.,LU830030047073620000,Tango/27441327/27441327220201,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,9670773161,VIREMENT(S) CASOLLA GIAMPAO,2022-03-21,2022-03-21,2022-03-21,-229.00,EUR,MR CASOLLA GIAMPAOLO,LU110141371390010000,Booking London,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,PC3M0KT8AF,Virement Européen Giampaolo Casolla Booking.co...,2022-03-22,2022-03-22,2022-03-22,229.00,EUR,Giampaolo Casolla,LT753250003855709822,Booking.com London,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,PC3I0KP5OC,Domiciliation Européenne LEO SA 001371251704-0...,2022-03-23,2022-03-23,2022-03-23,-38.80,EUR,LEO SA,LU260141240204000000,001371251704-000800184049-02/2022-02/2022-Deco...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,PC3S0L749W,Virement Européen AMAZON EU S.A R.L. SALAIRE D...,2022-03-28,2022-03-28,2022-03-28,3843.79,EUR,AMAZON EU S.A R.L.,IE27BOFA99006156667012,SALAIRE DU MOIS MARS 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,PC3T0LC31E,Virement Européen CAISSE MEDICO - COMPLEMENTAI...,2022-03-29,2022-03-29,2022-03-29,66.72,EUR,CAISSE MEDICO - COMPLEMENTAIRE MUTUALIST,LU200030042303450000,2118535166+++ / CASOLLA / LUXEMBOURG,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,PC3V0LI775,Domiciliation Européenne BASIC FIT LUXEMBOURG ...,2022-04-01,2022-04-01,2022-04-01,-34.99,EUR,BASIC FIT LUXEMBOURG,NL47ABNA0539927031,03-04-2022 / 30-04-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,OP09128388,180Savings + Gifts + Clothes,2022-04-01,2022-04-01,2022-04-01,-230.00,EUR,Giampaolo Casolla,LT753250003855709822,180Savings + Gifts + Clothes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,OP09118367,Rent Apartment 57 Rue de Neudorf,2022-04-01,2022-04-01,2022-04-01,-1550.00,EUR,M. DESPONTIN Philippe,LU710099780000451419,Rent Apartment 57 Rue de Neudorf,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,OP09126558,Investing + Guilt-free Spending,2022-04-01,2022-04-01,2022-04-01,-1783.00,EUR,Giampaolo Casolla,DE31100110012622391346,Investing + Guilt-free Spending,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,PC470LY3ML,Virement Européen MR GIAMPAOLO CASOLLA END OF ...,2022-04-07,2022-04-07,2022-04-07,15018.59,EUR,MR GIAMPAOLO CASOLLA,LU027001003184540000,END OF CONTRACT WITH EASTWESTDIREKT.LU,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,PC470LY8X1,Virement Européen MR GIAMPAOLO CASOLLA,2022-04-07,2022-04-07,2022-04-07,2.02,EUR,MR GIAMPAOLO CASOLLA,LU027001003184540000,Virement Européen,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,9780966093,VIREMENT(S) CASOLLA GIAMPAO,2022-04-07,2022-04-07,2022-04-07,-15018.19,EUR,MR CASOLLA GIAMPAOLO,LU300142471390000000,Savings from East West Direct,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,PC4K0MG3LM,Virement Européen AMAZON EU S.A R.L. FCS001111...,2022-04-20,2022-04-20,2022-04-20,21.50,EUR,AMAZON EU S.A R.L.,IE04BOFA99006156667038,FCS001111467112 PAYMENT-NUM 2 02615431,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,PC4E0M862X,Domiciliation Européenne LEO SA 001371264470-0...,2022-04-21,2022-04-21,2022-04-21,-38.17,EUR,LEO SA,LU260141240204000000,001371264470-000800184049-03/2022-03/2022-Deco...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,PC4M0MK52C,Domiciliation Européenne PROXIMUS LUXEMBOURG S...,2022-04-25,2022-04-25,2022-04-25,-57.99,EUR,PROXIMUS LUXEMBOURG S.A.,LU830030047073620000,Tango/27441327/27441327220301,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,PC4R0MX82M,Virement Européen AMAZON EU S.A R.L. SALAIRE D...,2022-04-27,2022-04-27,2022-04-27,4308.21,EUR,AMAZON EU S.A R.L.,IE27BOFA99006156667012,SALAIRE DU MOIS AVRIL 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,PC4R0MY7JR,Virement Européen AMAZON EU S.A R.L. FCS001128...,2022-04-27,2022-04-27,2022-04-27,709.10,EUR,AMAZON EU S.A R.L.,IE04BOFA99006156667038,FCS001128307392 PAYMENT-NUM 2 04365800,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,9781166227,Giampaolo Casolla,2022-04-27,2022-04-27,2022-04-27,-730.60,EUR,Giampaolo Casolla,DE31100110012622391346,Reimbursement Amazon off-site,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,PC4S0N13HZ,Domiciliation Européenne BASIC FIT LUXEMBOURG ...,2022-04-29,2022-04-29,2022-04-29,-34.99,EUR,BASIC FIT LUXEMBOURG,NL47ABNA0539927031,01-05-2022 / 28-05-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,OP12226156,180Savings + Gifts + Clothes,2022-05-02,2022-05-02,2022-05-02,-230.00,EUR,Giampaolo Casolla,LT753250003855709822,180Savings + Gifts + Clothes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,OP12216167,Rent Apartment 57 Rue de Neudorf,2022-05-02,2022-05-02,2022-05-02,-1550.00,EUR,M. DESPONTIN Philippe,LU710099780000451419,Rent Apartment 57 Rue de Neudorf,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,OP12224336,Investing + Guilt-free Spending,2022-05-02,2022-05-02,2022-05-02,-1783.00,EUR,Giampaolo Casolla,DE31100110012622391346,Investing + Guilt-free Spending,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,32,7751300057,RETRAIT SELF'BANK DU 11.05.22 CARTE NO 359968,2022-05-11,2022-05-11,2022-05-11,-175.00,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,33,9901314583,VIREMENT(S) CASOLLA GIAMPAO,2022-05-12,2022-05-12,2022-05-12,-900.00,EUR,MR CASOLLA GIAMPAOLO,LU210141471390020000,Viaggio Parigi,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,34,PC5G0NZ4DQ,Virement Européen AMAZON EU S.A R.L. FCS001141...,2022-05-16,2022-05-16,2022-05-16,79.95,EUR,AMAZON EU S.A R.L.,IE04BOFA99006156667038,FCS001141338802 PAYMENT-NUM 2 05912702,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,35,9681333011,Giampaolo Casolla,2022-05-16,2022-05-16,2022-05-16,-79.95,EUR,Giampaolo Casolla,DE31100110012622391346,Reimbursement Amazon dinner,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,36,9901333729,VIREMENT(S) CASOLLA GIAMPAO,2022-05-16,2022-05-16,2022-05-16,-840.00,EUR,MR CASOLLA GIAMPAOLO,LU210141471390020000,Amsterdam,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,37,PC5G0NY8XE,Domiciliation Européenne LEO SA 001371274145-0...,2022-05-19,2022-05-19,2022-05-19,-35.52,EUR,LEO SA,LU260141240204000000,001371274145-000800184049-04/2022-04/2022-Deco...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38,PC5K0O86UU,Domiciliation Européenne PROXIMUS LUXEMBOURG S...,2022-05-23,2022-05-23,2022-05-23,-57.99,EUR,PROXIMUS LUXEMBOURG S.A.,LU830030047073620000,Tango/27441327/27441327220401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,39,PC5P0OJ0K0,Virement Européen AMAZON EU S.A R.L. SALAIRE D...,2022-05-25,2022-05-25,2022-05-25,4306.92,EUR,AMAZON EU S.A R.L.,IE27BOFA99006156667012,SALAIRE DU MOIS MAI 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,40,PC5Q0OO0MG,Domiciliation Européenne BASIC FIT LUXEMBOURG ...,2022-05-27,2022-05-27,2022-05-27,-34.99,EUR,BASIC FIT LUXEMBOURG,NL47ABNA0539927031,29-05-2022 / 25-06-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,41,OP15226371,180Savings + Gifts + Clothes,2022-06-01,2022-06-01,2022-06-01,-230.00,EUR,Giampaolo Casolla,LT753250003855709822,180Savings + Gifts + Clothes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,42,OP15216202,Rent Apartment 57 Rue de Neudorf,2022-06-01,2022-06-01,2022-06-01,-1550.00,EUR,M. DESPONTIN Philippe,LU710099780000451419,Rent Apartment 57 Rue de Neudorf,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,43,OP15224531,Investing + Guilt-free Spending,2022-06-01,2022-06-01,2022-06-01,-1783.00,EUR,Giampaolo Casolla,DE31100110012622391346,Investing + Guilt-free Spending,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,44,7751650053,RETRAIT SELF'BANK DU 15.06.22 CARTE NO 359968,2022-06-15,2022-06-15,2022-06-15,-175.00,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,45,9901689270,Naples flight Christmas 2022,2022-06-18,2022-06-20,NaT,-424.86,EUR,CASOLLA GIAMPAO,LU21 0141 4713 9002 0000,Naples flight Christmas 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
if 'Bank' in config[file_key]['columns_old']:
    df_temp['Bank'] = file_key
df_temp = df_temp[config[file_key]['columns_old']]
df_temp = df_temp.rename(columns=dict(zip(config[file_key]['columns_old'], config[file_key]['columns_new'])))
try:
    df_temp = df_temp[~df_temp['Expense name'].str.contains('|'.join(config[file_key]['Remove']))]
except KeyError:
    pass
df_temp['Day'] = pd.to_datetime(df_temp['Day'], format=config[file_key]['Day'])
df_temp

,Day,Expense name,Amount,Bank,Comment
0,2022-03-01 10:27:47,Eurest Intesa San Paolo,-1.45,revolut,CARD_PAYMENT
1,2022-03-02 12:24:41,Auchan Cloche D'or,-4.48,revolut,CARD_PAYMENT
12,2022-03-11 17:03:03,Auchan Cloche D'or,-7.02,revolut,CARD_PAYMENT
13,2022-03-11 17:29:38,Pharmacie De La Cloche D',-0.78,revolut,CARD_PAYMENT
14,2022-03-12 13:24:51,Sumup *pittige Dames Foo,-10.00,revolut,CARD_PAYMENT
23,2022-03-15 16:38:41,Auchan Cloche D'or,-6.75,revolut,CARD_PAYMENT
24,2022-03-16 18:54:54,Auchan Cloche D'or,-8.70,revolut,CARD_PAYMENT
34,2022-03-30 08:04:31,Payment from Clementina Uccello,850.00,revolut,TOPUP
54,2022-04-04 11:24:07,Auchan Cloche D'or,-16.97,revolut,CARD_PAYMENT
60,2022-04-08 22:31:38,To Clementina Uccello,-3.80,revolut,TRANSFER
62,2022-04-11 20:22:39,Amazon.de Amazon.de,-6.84,revolut,CARD_PAYMENT
63,2022-04-14 20:20:46,Come A La Pizza,-38.00,revolut,CARD_PAYMENT
76,2022-04-18 12:13:04,Proxy Hamilius,-6.22,revolut,CARD_PAYMENT
77,2022-04-20 10:48:47,Auchan Cloche D'or,-13.28,revolut,CARD_PAYMENT
78,2022-04-22 17:16:23,Tfl Travel Charge,0.00,revolut,CARD_PAYMENT
79,2022-04-22 21:13:51,To Victor Me,-11.02,revolut,TRANSFER
80,2022-04-22 12:21:21,Petit Moselier,-3.90,revolut,CARD_PAYMENT
81,2022-04-22 13:41:36,Petit Moselier,-2.50,revolut,CARD_PAYMENT
82,2022-04-23 01:51:40,Tfl Travel Charge,-8.92,revolut,CARD_PAYMENT
85,2022-04-23 00:00:00,Tfl Travel Ch,-5.94,revolut,CARD_PAYMENT
86,2022-04-24 12:20:51,Shake Shack Gatwick 15,-10.05,revolut,CARD_PAYMENT
87,2022-04-24 00:00:00,Tfl Travel Ch,-1.96,revolut,CARD_PAYMENT
89,2022-04-27 09:15:50,Eurest Intesa San Paolo,-1.45,revolut,CARD_PAYMENT
90,2022-04-27 16:15:15,Auchan Cloche D'or,-24.18,revolut,CARD_PAYMENT
94,2022-05-02 08:23:39,Payment from Clementina Uccello,850.00,revolut,TOPUP
114,2022-05-12 19:51:45,Urban,-4.00,revolut,CARD_PAYMENT
115,2022-05-12 21:33:51,Urban,-11.00,revolut,CARD_PAYMENT
117,2022-05-15 15:47:20,Amazon Eu,0.00,revolut,CARD_PAYMENT
118,2022-05-15 17:57:27,Top-Up by *4523,145.00,revolut,TOPUP
126,2022-05-15 15:51:34,Amzn Mktp De,-35.73,revolut,CARD_PAYMENT
131,2022-05-19 20:48:09,Scott's Pub,-8.00,revolut,CARD_PAYMENT
148,2022-05-30 08:04:56,Payment from Clementina Uccello,850.00,revolut,TOPUP
149,2022-05-31 17:25:25,Auchan Luxembourg,-124.40,revolut,CARD_PAYMENT
152,2022-06-02 11:03:28,Eurest Intesa San Paolo,-11.20,revolut,CARD_PAYMENT
154,2022-06-04 00:00:00,Refund from Amz*ebjz,21.62,revolut,CARD_REFUND

In [ ]:
try:
    df.append(df_temp, ignore_index=True)
except:
    df = df_temp

In [88]:
df

,Day,Expense name,Amount,Bank,Comment
0,2022-06-12,Amzn Mktp De*2c4zk9h14,-28.41,Revolut Groceries + Out,Shopping
1,2022-06-12,Amazon,-13.76,Revolut Groceries + Out,Shopping
2,2022-06-12,Tapas Street,-3.00,Revolut Groceries + Out,Eating Out
3,2022-06-12,Tapas Street,-9.60,Revolut Groceries + Out,Eating Out
4,2022-06-12,Ville De Remich : Pisc,-14.00,Revolut Groceries + Out,Entertainment
...,...,...,...,...,...
580,2020-09-20,Amzn Mktp De*fp47m5pw5,-20.86,Revolut Savings,Shopping
581,2020-09-06,Goedert Autocenter,-14.30,N26 Giamp,Shopping
582,2020-09-05,Curve Cash: Auchan Cloche D'or,23.00,Curve Cash,NaN
583,2020-09-05,Auchan Cloche D'or,-22.55,Revolut Savings,Groceries
584,2020-08-21,Ref: Giampaolo C.,500.00,Curve Cash,NaN