In [35]:
import os
import glob
import yaml
import pandas as pd

cwd = os.getcwd()

In [127]:
with open("config.yaml", 'r', encoding='utf-8') as stream:
    config = yaml.safe_load(stream)
config

{'curve': {'import': None,
  'columns_old': ['Date (YYYY-MM-DD as UTC)',
   'Merchant',
   'Txn Amount (Funding Card)',
   'Card Name',
   'Category'],
  'columns_new': ['Day', 'Expense name', 'Amount', 'Bank', 'Comment'],
  'Day': '%Y-%m-%d'},
 'ing': {'import': {'sep': ';'},
  'columns_old': ['Date', 'Bénéficiaire', 'Montant', 'Bank', 'Communication'],
  'columns_new': ['Day', 'Expense name', 'Amount', 'Bank', 'Comment'],
  'Day': '%d/%m/%Y'},
 'n26': {'import': None,
  'columns_old': ['Data',
   'Beneficiario',
   'Importo (EURO)',
   'Bank',
   'Riferimento pagamento'],
  'columns_new': ['Day', 'Expense name', 'Amount', 'Bank', 'Comment'],
  'Remove': ['CRV*'],
  'Day': '%Y-%m-%d'},
 'revolut': {'import': None,
  'columns_old': ['Started Date', 'Description', 'Amount', 'Bank', 'Type'],
  'columns_new': ['Day', 'Expense name', 'Amount', 'Bank', 'Comment'],
  'Remove': ['Crv*'],
  'Day': '%Y-%m-%d %H:%M:%S'}}

In [27]:
folders_data = os.listdir('data')
folders_data

['curve', 'ing', 'n26', 'revolut']

In [57]:
file_data = {folder: max(glob.glob(os.path.join(cwd, 'data', folder, '*')), key=os.path.getctime) for folder in folders_data}
file_data

{'curve': 'c:\\Users\\giamp\\Dropbox\\GitHub\\import-bank-details\\data\\curve\\export.csv',
 'ing': 'c:\\Users\\giamp\\Dropbox\\GitHub\\import-bank-details\\data\\ing\\export_LU980141271390000000_20220301_20220613.csv',
 'n26': 'c:\\Users\\giamp\\Dropbox\\GitHub\\import-bank-details\\data\\n26\\n26-csv-transactions (1).csv',
 'revolut': 'c:\\Users\\giamp\\Dropbox\\GitHub\\import-bank-details\\data\\revolut\\revolut.csv'}

In [129]:
df = None

for file_key, file_value in file_data.items():
    if config[file_key]['import']:
        df_temp = pd.read_csv(file_value, **config[file_key]['import'])
    else:
        df_temp = pd.read_csv(file_value)
    
    if 'Bank' in config[file_key]['columns_old']:
        df_temp['Bank'] = file_key
    df_temp = df_temp[config[file_key]['columns_old']]
    df_temp = df_temp.rename(columns=dict(zip(config[file_key]['columns_old'], config[file_key]['columns_new'])))
    
    try:
        df_temp = df_temp[~df_temp['Expense name'].str.contains('|'.join(config[file_key]['Remove']))]
    except KeyError:
        pass

    df_temp['Day'] = pd.to_datetime(df_temp['Day'], format=config[file_key]['Day'])

    
    df = pd.concat([df, df_temp], ignore_index=True)
df['Day'] = df['Day'].dt.round('D')

df = df.sort_values(by=['Day', 'Expense name', 'Amount'])

df.to_excel(os.path.join('output', f"output_{df['Day'].max()}.xlsx"), index=False)

df

SyntaxError: f-string: unmatched '[' (513292874.py, line 27)

In [101]:
df['Day'] = df['Day'].dt.round('D')

In [125]:
name = 'revolut'
file_key, file_value = name, file_data[name]
if config[file_key]['import']:
    df_temp = pd.read_csv(file_value, **config[file_key]['import'])
else:
    df_temp = pd.read_csv(file_value)
df_temp

,Type,Product,Started Date,Completed Date,Description,Amount,Fee,Currency,State,Balance
0,CARD_PAYMENT,Current,2022-03-01 10:27:47,2022-03-02 11:58:22,Eurest Intesa San Paolo,-1.45,0.0,EUR,COMPLETED,945.39
1,CARD_PAYMENT,Current,2022-03-02 12:24:41,2022-03-03 11:45:31,Auchan Cloche D'or,-4.48,0.0,EUR,COMPLETED,940.91
2,CARD_PAYMENT,Current,2022-03-03 19:05:12,2022-03-04 10:03:32,Crv*oscar's Diner,-15.25,0.0,EUR,COMPLETED,925.66
3,CARD_PAYMENT,Current,2022-03-03 19:53:52,2022-03-04 10:03:32,Crv*partigiano,-95.00,0.0,EUR,COMPLETED,830.66
4,CARD_PAYMENT,Current,2022-03-03 15:24:30,2022-03-04 10:03:32,Crv*neuhaus,-12.24,0.0,EUR,COMPLETED,818.42
...,...,...,...,...,...,...,...,...,...,...
159,CARD_PAYMENT,Current,2022-06-12 10:55:26,2022-06-13 09:10:33,Crv*tapas Street,-9.60,0.0,EUR,COMPLETED,549.02
160,CARD_PAYMENT,Current,2022-06-12 14:07:02,2022-06-13 09:11:07,Crv*tapas Street,-3.00,0.0,EUR,COMPLETED,546.02
161,CARD_PAYMENT,Current,2022-06-12 14:39:54,2022-06-13 09:11:07,Crv*amazon.de,-13.76,0.0,EUR,COMPLETED,532.26
162,CARD_PAYMENT,Current,2022-06-12 20:22:52,2022-06-13 09:11:55,Crv*amzn Mktp De,-28.41,0.0,EUR,COMPLETED,503.85
163,CARD_PAYMENT,Current,2022-06-11 14:47:43,2022-06-13 09:11:55,Crv*adam's Fashion Coiffu,-20.00,0.0,EUR,COMPLETED,483.85

In [126]:
if 'Bank' in config[file_key]['columns_old']:
    df_temp['Bank'] = file_key
df_temp = df_temp[config[file_key]['columns_old']]
df_temp = df_temp.rename(columns=dict(zip(config[file_key]['columns_old'], config[file_key]['columns_new'])))
try:
    df_temp = df_temp[~df_temp['Expense name'].str.contains('|'.join(config[file_key]['Remove']))]
except KeyError:
    pass
df_temp['Day'] = pd.to_datetime(df_temp['Day'], format=config[file_key]['Day'])
df_temp

,Day,Expense name,Amount,Bank,Comment
0,2022-03-01 10:27:47,Eurest Intesa San Paolo,-1.45,revolut,CARD_PAYMENT
1,2022-03-02 12:24:41,Auchan Cloche D'or,-4.48,revolut,CARD_PAYMENT
12,2022-03-11 17:03:03,Auchan Cloche D'or,-7.02,revolut,CARD_PAYMENT
13,2022-03-11 17:29:38,Pharmacie De La Cloche D',-0.78,revolut,CARD_PAYMENT
14,2022-03-12 13:24:51,Sumup *pittige Dames Foo,-10.00,revolut,CARD_PAYMENT
23,2022-03-15 16:38:41,Auchan Cloche D'or,-6.75,revolut,CARD_PAYMENT
24,2022-03-16 18:54:54,Auchan Cloche D'or,-8.70,revolut,CARD_PAYMENT
34,2022-03-30 08:04:31,Payment from Clementina Uccello,850.00,revolut,TOPUP
54,2022-04-04 11:24:07,Auchan Cloche D'or,-16.97,revolut,CARD_PAYMENT
60,2022-04-08 22:31:38,To Clementina Uccello,-3.80,revolut,TRANSFER
62,2022-04-11 20:22:39,Amazon.de Amazon.de,-6.84,revolut,CARD_PAYMENT
63,2022-04-14 20:20:46,Come A La Pizza,-38.00,revolut,CARD_PAYMENT
76,2022-04-18 12:13:04,Proxy Hamilius,-6.22,revolut,CARD_PAYMENT
77,2022-04-20 10:48:47,Auchan Cloche D'or,-13.28,revolut,CARD_PAYMENT
78,2022-04-22 17:16:23,Tfl Travel Charge,0.00,revolut,CARD_PAYMENT
79,2022-04-22 21:13:51,To Victor Me,-11.02,revolut,TRANSFER
80,2022-04-22 12:21:21,Petit Moselier,-3.90,revolut,CARD_PAYMENT
81,2022-04-22 13:41:36,Petit Moselier,-2.50,revolut,CARD_PAYMENT
82,2022-04-23 01:51:40,Tfl Travel Charge,-8.92,revolut,CARD_PAYMENT
85,2022-04-23 00:00:00,Tfl Travel Ch,-5.94,revolut,CARD_PAYMENT
86,2022-04-24 12:20:51,Shake Shack Gatwick 15,-10.05,revolut,CARD_PAYMENT
87,2022-04-24 00:00:00,Tfl Travel Ch,-1.96,revolut,CARD_PAYMENT
89,2022-04-27 09:15:50,Eurest Intesa San Paolo,-1.45,revolut,CARD_PAYMENT
90,2022-04-27 16:15:15,Auchan Cloche D'or,-24.18,revolut,CARD_PAYMENT
94,2022-05-02 08:23:39,Payment from Clementina Uccello,850.00,revolut,TOPUP
114,2022-05-12 19:51:45,Urban,-4.00,revolut,CARD_PAYMENT
115,2022-05-12 21:33:51,Urban,-11.00,revolut,CARD_PAYMENT
117,2022-05-15 15:47:20,Amazon Eu,0.00,revolut,CARD_PAYMENT
118,2022-05-15 17:57:27,Top-Up by *4523,145.00,revolut,TOPUP
126,2022-05-15 15:51:34,Amzn Mktp De,-35.73,revolut,CARD_PAYMENT
131,2022-05-19 20:48:09,Scott's Pub,-8.00,revolut,CARD_PAYMENT
148,2022-05-30 08:04:56,Payment from Clementina Uccello,850.00,revolut,TOPUP
149,2022-05-31 17:25:25,Auchan Luxembourg,-124.40,revolut,CARD_PAYMENT
152,2022-06-02 11:03:28,Eurest Intesa San Paolo,-11.20,revolut,CARD_PAYMENT
154,2022-06-04 00:00:00,Refund from Amz*ebjz,21.62,revolut,CARD_REFUND

In [ ]:
try:
    df.append(df_temp, ignore_index=True)
except:
    df = df_temp

In [88]:
df

,Day,Expense name,Amount,Bank,Comment
0,2022-06-12,Amzn Mktp De*2c4zk9h14,-28.41,Revolut Groceries + Out,Shopping
1,2022-06-12,Amazon,-13.76,Revolut Groceries + Out,Shopping
2,2022-06-12,Tapas Street,-3.00,Revolut Groceries + Out,Eating Out
3,2022-06-12,Tapas Street,-9.60,Revolut Groceries + Out,Eating Out
4,2022-06-12,Ville De Remich : Pisc,-14.00,Revolut Groceries + Out,Entertainment
...,...,...,...,...,...
580,2020-09-20,Amzn Mktp De*fp47m5pw5,-20.86,Revolut Savings,Shopping
581,2020-09-06,Goedert Autocenter,-14.30,N26 Giamp,Shopping
582,2020-09-05,Curve Cash: Auchan Cloche D'or,23.00,Curve Cash,NaN
583,2020-09-05,Auchan Cloche D'or,-22.55,Revolut Savings,Groceries
584,2020-08-21,Ref: Giampaolo C.,500.00,Curve Cash,NaN